[workspace]
channels = ["https://prefix.dev/conda-forge"]
platforms = ["osx-arm64"]
preview = ["pixi-build"]

[package]
name = "numpy-asan"
version = "2.3.5"
license = "BSD-3-Clause"
license-file = "LICENSE.txt"

[package.build.source]
git = "https://github.com/numpy/numpy"
rev = "c3d60fc8393f3ca3306b8ce8b6453d43737e3d90"

[package.build.backend]
name = "pixi-build-python"
version = "*"

[package.build.config]
noarch = false
extra-input-globs = ["**/*.c.src"]
compilers = ["c", "cxx"]
env.ASAN_OPTIONS = "detect_leaks=0:symbolize=1:strict_init_order=true:allocator_may_return_null=1:use_sigaltstack=0"
extra-args = ["-Csetup-args=-Db_sanitize=address", "-Csetup-args=-Dbuildtype=debug"] 

[package.host-dependencies]
python-asan = { path = "../cpython" }
meson-python = "*"
cython = "*"
uv = "*"
